

.Container{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   background: url(
    https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80
    );
    background-size:cover;
    background-attachment:fixed;
    height: 100vh;



}
p{
    /* color: white; */
}
.Greetings{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-family: 'Roboto', open-sans;

}

.greetingTexts{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    color: rgb(190, 190, 64);
    
    
}

.intro-text{
    font-size: 1.6rem;
    margin-top: 2rem;
    width: 90%;
    margin-left: 2%;
    text-align: center;
    /* background transparency */
    background-color: rgba(101, 99, 99, 0.3);
    border-radius: 20px;
    padding: 2px;
    color: rgb(228, 231, 197);
    font-family: 'Roboto', open-sans;

}

.myName{
   /* background-color: aquamarine; */
   margin:0;
}

.IntroText{
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto', open-sans;
    font-weight: 600;
    color: #000000;
    flex: 2;
    color:rgb(238, 228, 228);
    font-weight: 300;
    
}

.profile-pic-container{
    flex:1.2;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    /* background-color: aqua; */
   
}

.profile-pic{
    max-width: 30vw;
   border-radius: 50%;
   max-height: 35vh;

}
