.CircularProgress{
    width: 60%;
    height: auto;
   color: black
}

.Skill-Container{
    display: flex;
    width: 30vw;
    margin-bottom: 23px;
    justify-content: flex-end;
    align-items: center;
}