.NavBarButton{
    
    text-transform: none;
   
   
}

.NavBarContainer{
    position: fixed;
    width: 100%;
}

a{
    text-decoration:none;
    color: rgb(206, 113, 7);
}

a:hover{
    color: green;
}